@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* Define fonts */
@font-face {
  font-family: 'PPNeueMontreal-Medium';
  src: url('/fonts/PPNeueMontreal-Medium.otf') format('opentype'); 
  font-style: normal;
}

/* Define variables */
@layer base {
  :root {
    /* Background color */
    --background: #FAF9F6; 
    /* Text color */
    --foreground: #000000;
    /* Box color */
    --card: #F4F4F6;
    /* Button, Logo color */
    --accent: #CD6026;
    /* light logo color */
    --lightaccent: #FDE0CA;
    /* Placeholder text */
    --placeholder: #B8B8B8;
    /* Border color */
    --border: #C1C1C1;

    /* Hover Colors */
    --hovaccent: #A14B1D;
  }
  
  h1 {
    color: #333;
    font-family: "PPNeueMontreal-Medium";
    font-size: 96px;
    font-style: normal;
    font-weight: 500;
    line-height: 100px;
  }

  h2 {
    font-family: 'PPNeueMontreal-Medium';
    font-weight: bold;
    font-size: 48px;
    color: var(--foreground); 
  }

  h3 {
    font-family: 'PPNeueMontreal-Medium', serif;
    font-weight: normal;
    font-size: 36px;
  }

  p {
    font-family: 'PPNeueMontreal-Medium', serif;
    font-weight: 400px;
    font-size: 24px;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    font-family: 'PPNeueMontreal-Medium', serif;
    @apply bg-background text-foreground;
  }
}

@layer utilities {
  .row-start-1 { grid-row-start: 1; }
  .row-start-2 { grid-row-start: 2; }
  .col-start-1 { grid-column-start: 1; }
  .col-start-2 { grid-column-start: 2; }
}